@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Medhat to my Lab 3!</h1>
    <p>My name is Tedrik "Teddy" Dumam-Ag, A01329707.</p>
    <div>
        <p>
        My main career is being a Software Engineer. Be part of creating a bigger system, a big software that is used in the real world.
        </p>
        <p>
            Also I also have other hobbies that I do to motivate me:
        </p>
        <ul> 
            <li>Content Creator (As GabbyRiel, the Fluffy Silly Furry VTuber Goober) </li>
            <li>Musician (Singer + Online Beat Sampler) im on Spotify!</li>
            <li>A Writer</li>
        </ul>
    </div>
    @* test comment *@
</div>
